/*カーソルを乗せた時の色*/
tr:hover #number{
    background-color:#FFCC99; !important;
}
tr:hover #patronusername{
    background-color:#FFCC99; !important;
}
tr:hover #childusername{
    background-color:#FFCC99; !important;
}
tr:hover #reasondetail{
    background-color:#FFCC99; !important;
}
tr:hover #photoid{
    background-color:#FFCC99; !important;
}

/*対応済みのテーブルの色*/
tr.already_info #number{
    background-color:#AAAAAA;
}
tr.already_info #patronusername{
    background-color:#AAAAAA;
}
tr.already_info #childusername{
    background-color:#AAAAAA;
}
tr.already_info #reasondetail{
    background-color:#AAAAAA;
}
tr.already_info #photoid{
    background-color:#AAAAAA;
}

/*対応済みのテーブルにカーソルを乗せた時の色*/
tr.already_info:hover #number{
    background-color:#FFCC99;
}
tr.already_info:hover #patronusername{
    background-color:#FFCC99;
}
tr.already_info:hover #childusername{
    background-color:#FFCC99;
}
tr.already_info:hover #reasondetail{
    background-color:#FFCC99;
}
tr.already_info:hover #photoid{
    background-color:#FFCC99;
}

/*カーソルを乗せた時のポインタ*/
.inquirylist{
    cursor : pointer;
}

/*文字を全てセルの中央に*/
.table > tbody > tr > td{
    vertical-align: middle;
}

/*検索ボタン*/
.retrievalbtn{
    width: 100%;
}

/*問合わせ対応変更ボタン*/
.inquirybtn{
    float: right;
}

/*td内のチェックボックスを真ん中に*/
table.checkbox input[name="check"].custom-checkbox{
    position: inherit; !important;
}
