.title{
    background-color:#f7df36;
    color:white;
    margin-bottom:13%;
    text-align: center;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
}

.font{
    font-size:130%;
}

.moziheight{
    height:90px;
}

.dltop{
    margin-top:0px;
}

.photosize{
    zoom:150%;
}

.buttonlayout{
    margin-top:40px;
}

.btnsize{
    width:40%;
    height:20%;
}