.drop{
    width: 40%;
    height:500px;
    text-align:center;
    cursor:pointer;
    margin-top:50px;
    margin-left:100px;
    padding-top:10px;
    border-radius: 5px;
}
.drop-inside{
    border:dashed 2px #848484;
    width: 90%;
    height:90%;
    margin: 20px auto auto auto;
    border-radius: 5px;
}
.font{
    color:#848484;
    margin:100px auto;
    font-size:150%;
}
#droppable:hover{

}

.box16{
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
.box26 {
    width:40%;
    height:400px;
    position: relative;
    margin:80px 0px 0px 50px;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;

}
.box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;

}
.float-r{
    float:right;
}
.float-l{
    float:left;
}