.control-label{
    width: 30%;
}
.form-control.search-topic{
    width: 75%; !important;
}
.checkbox{
    vertical-align: middle;
}
.full{
    width: 100%;
}
.table-hover{
    cursor: pointer;
}
.table-hover tr:hover > td[rowspan] {
    background-color: transparent;
}