/* ラジオボタン設定がやばかったので上書き */
.radio input[type="radio"] {
    position: relative;
    top: 1px;
    margin-right: 5px;
}

/*タイトル*/
.title {
    background-color: #60BFAE;
    text-align: center;
    color: #eff8f6;
    margin-top: 0;
    margin-bottom: 30px;
}

/*タイトルアイコン*/
#glyphicon-user {
    margin-right: 10px;
    top: 5px;
}

/*フォーム外枠*/
.formOutline {
    border: 4px solid #F25E86;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/*フォーム外枠タイトル*/
.formOutlineTitle {
    background-color: #F25E86;
    margin-bottom: 0;
    margin-top: 0;
}

/*タイトル内h2*/
.formOutlineTitle h2 {
    margin-top: 0;
    margin-left: 15px;
    color: #FEEFF3;
}

/*フォーム内コンテンツ　共通設定項目*/
.formContents {
    border: 4px solid;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/*formContentsの見出し　共通設定項目*/
.userType {
    margin: 0;
}

/*formContentsとセットで付く　ユーザ向け設定*/
#userContent {
    margin: 15px;
    width: auto;
    border-color: #30B1B6;
}

/*formContentsユーザ側設定*/
.userForm h3 {
    background-color: #30B1B6;
    margin: 0;
    padding-left: 10px;
    color: #FBFEFE;
}

/*formContentsとセットで付く　管理者向け設定*/
#managerContent {
    margin: 15px;
    width: auto;
    border-color: #F29F8D;
}

/*formContents管理者側設定*/
#managerForm h3 {
    background-color: #F29F8D;
    margin: 0;
    padding-left: 10px;
    color: #ffffff;
}

/*コンテンツが横並びで表示された時2つ目が高めに設定されるのを防ぐ*/
.radio + .radio {
    margin-top: 0;
}

/*フォームコンテンツli*/
.formContents li {
    list-style: none;
    margin-bottom: 10px;
}

/*各フォームについたlabel設定*/
.formContents label {
    margin-right: 10px;
    width: 25%;
}

/*バリデーションエラーメッセージ*/
.errorMsg{
    font-size: small;
    color: red;
    margin: 0;
}

/*selectのサイズ設定上書き*/
select {
    width: auto;
!important;
}