body{
    height: 700px;
    draggable:"false"
}

.back{
    margin:50px auto auto auto;
    width:450px;
    height: 350px;
    padding-top:30px ;
    background-color: #efefef;
    border-radius: 10px;
}

#old-data{
    margin:auto;
}

#new-data{
    margin:auto;
}

label{
    font-weight: normal;
    font-size: 14px;
    line-height: 2.3;
}

.old{
    width: 400px;
}

.new{
    width: 400px;
}

.Cancelbtn
{
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}
.CancelBox {
    width: 100px;
}

.Savebtn
{
    float: right;
    margin-right:30px;
    margin-top: 40px;
}
.SaveBox{
    width:100px;
}

.old input[readonly]{
    background-color: #FFFFFF;
    color: #000000;
}