body{
    height: 700px;
    draggable:"false"
}
.back{
    margin:50px auto auto auto;
    width:450px;
    height: 410px;
    padding-top:30px ;
    background-color: #efefef;
    border-radius: 10px;
}

#pw{
    margin:auto;
}
#new-pw{
    margin:auto;
}
#re-pw{
    margin:auto;
}
label {
    font-weight: normal;
    font-size: 14px;
    line-height: 2.3;
}

.pass0
{
width: 400px;
}

.pass1
{
    width: 400px;
}

.pass2
{
    width: 400px;
}

.Cancelbtn
{
float: left;
    margin-left: 30px;
    margin-top: 40px;
}
.CancelBox {
    width: 100px;
}

.Savebtn
{
    float: right;
    margin-right:30px;
    margin-top: 40px;
}
.SaveBox{
    width:100px;

}
