/* 画像一覧を表示する範囲 */
.container{
    max-width: 100%;
}

/* rowの高さを統一する */
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.Photo-Box{
    margin: auto;
    width: 100%;
    height: 100%;
    /*opacity: 0.3;*/
    z-index: 1;
    background-image: url("http://localhost/rakuraku/img/common/background.jpg");
    text-align: center;
    position: relative;
}
/* ピン留め設定 */
.pin{
    width: 10%;
    height: 10%;
    z-index: 3;
    position: absolute;
}
/* 画像の設定 */
.photo{
    width:150px;
    height:150px;
    margin:auto;
    z-index: 2;
    position: relative;
}
.photo-size{
    width: 70%;
}
.photo-margin{
    margin: 60px 0px 0px 65px;
}
.photo-auto{
    margin: auto;
}

/*モーダル*/
/* ContentsArea
-------------------------- */
/*#contents {*/
/*margin: 0 auto;*/
/*padding: 0px;*/
/*width: 100%;*/
/*}*/

#open02 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.close_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 5;
}

.modal_window {
    margin:30px 30px 0px 30px;
    left: 11%;
    /*margin: -150px 0 0 -200px;*/
    width: 1000px;
    height: 600px;
    text-align: center;
    display: block;
    background: #fff;
    position: absolute;
    z-index: 10;
    -webkit-transform: scale(0);
}

.modal_window h2 {
    width: 1000px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-indent: 15px;
    background: #000;
}

.modal_window p {
    padding: 0 15px 15px 15px;
    line-height: 160%;
    text-align: left;
}


/* CSS3 ModalWindow SET
-------------------------- */
@-webkit-keyframes modalFadeIn {
    0% {opacity: 0;display: block;}
    100% {opacity: 1;}
}

div#modal div:target {
    -webkit-animation-name: modalFadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
    display: block;
}

@-webkit-keyframes modalScale {
    0% {opacity: 0;display: block; -webkit-transform:scale(0);}
    100% {opacity: 1; -webkit-transform:scale(1);}
}

div#modal div:target .modal_window {
    -webkit-animation-name: modalScale;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform:scale(1);
    opacity: 1;
    display: block;
}

.text-hight{
    line-height: 35%;
}

/*icon-star*/
/*星未お気に入り*/
.star{
    position:absolute;
    margin:100px 0px 0px 795px;
    padding:0px;
    height: 60px;
    width: 50px;
    font-size:300%;
    color:#374c5d;
    float:right;
    z-index:12;
    transition:.5s;
}

/*星気に入り時*/
.star.active{
    color:#F7FE2E;
}

.star:hover{
    opacity: .5;
}
/*icon-star end*/

#flag{
    position:absolute;
    margin: 0px 0px 0px 950px;
    padding:0px;
    width: 50px;
    font-size:200%;
    color:#374c5d;
    /*float:right;*/
    z-index:13;
}
.example{
    position:relative;
}

/*----------------------------------------------------------------------------------------------------*/
/*といあわせ*/
.dropmenu{
    *zoom: 1;
    list-style-type: none;
    width: 960px;
    margin:0px;
    /*margin: 5px auto 30px;*/
    padding: 0;
}
.dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
}
.dropmenu:after{
    clear: both;
}
.dropmenu li{
    position: relative;
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
.dropmenu li a{
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    background: #8a9b0f;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}
.dropmenu li ul{
    list-style: none;
    position: absolute;
    /*z-index: 9999;*/
    /*top: 100%;*/
    /*left: 0;*/
    margin-left:1010px;
    padding: 0;
    /*float:left;*/
}
.dropmenu li ul li{
    width: 100%;
}
.dropmenu li ul li a{
    padding: 13px 15px;
    border-top: 1px solid #e0edff;
    background: #A4A4A4;
    text-align: left;
}
/*.dropmenu li:hover > a{
  background: #6e7c0c;
}*/
.dropmenu li a:hover{
    opacity :0.8;
    background: #BDBDBD !important;
    /*border: 1px solid #000000;*/
}
#drop{
    width: 150px;
}
/*問い合わせフォームのアニメーション*/
/*---------------------------*/
#left-to-right ul{
    overflow: hidden;
    width: 0;
    transition: .5s;
    z-index: 9999;
}

#left-to-right li:hover ul li a{
    white-space: nowrap;
}

/*問い合わせフォームの枠*/
/*---------------------------------------------------------------*/
.balloon1-left {
    height:230px;
    position: relative;
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 7px 10px;
    /*min-width: 120px;*/
    /*max-width: 100%;*/
    /*color: #555;*/
    /*font-size: 16px;*/
    background: #e0edff;
}

.balloon1-left:before{
    content: "";
    position: absolute;
    top: 15%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
}
.margin{
    margin:10px 0px 10px 55px;
}
