.Photo-Box{
    margin: auto;
    width: 1120px;
    height: 450px;
}
.Photo-margin{
    margin:auto;
}
.photo{
    width:200px;
    heigth:200px;

}

.photo-margin{
    margin: 60px 0px 0px 70px;
}

.a{
    background-image: url("../../../img/common/background.jpg");
    background-size:100% 100%;
    height:550px;
}
/*icon-star*/
/*星お気に入り*/
.star{
    width: 30px;
    font-size:200%;
    color:#374c5d;
}

/*星気に入り時*/
.star.active{
    color:#F7FE2E;
}

.star:hover{
    opacity: .5;
}

#flag{
    font-size:130%;
    color:#374c5d;
}
.example{
    position:relative;
}

/*----------------------------------------------------------------------------------------------------*/
/*といあわせ*/
.dropmenu{
    right: 0;
    position: absolute;
    *zoom: 1;
    list-style-type: none;
    width: 960px;
    margin: 5px auto 30px;
    padding: 0;
}
.dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
}
.dropmenu:after{
    clear: both;
}
.dropmenu li{
    position: relative;
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
.dropmenu li a{
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    background: #8a9b0f;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}
.dropmenu li ul{

    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-left:970px;
    padding: 0;
    float:left;
}
.dropmenu li ul li{
    width: 100%;
}
.dropmenu li ul li a{
    padding: 13px 15px;
    border-top: 1px solid #e0edff;
    background: #A4A4A4;
    text-align: left;
}
.dropmenu li:hover > a{
  background: #6e7c0c;
}
.dropmenu li a:hover{
    opacity :0.8;
    background: #BDBDBD !important;
}
#drop{
    width: 150px;
}
/*問い合わせフォームのアニメーション*/
/*---------------------------*/
#left-to-right ul{
    overflow: hidden;
    width: 0;
    transition: .5s;
    z-index: 9999;
}

#left-to-right li:hover ul li a{
    white-space: nowrap;
}

/*問い合わせフォームの枠*/
/*---------------------------------------------------------------*/
.balloon1-left {
    width:230px;
    height:230px;
    position: relative;
    display: inline-block;
    margin: 100px 0 0 15px;
    padding: 7px 10px;
    background: #e0edff;
}

.balloon1-left:before{
    content: "";
    position: absolute;
    top: 15%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
}
.margin{
    margin:10px 0px 10px 110px;
    width:90px;
}

/*--------------------------------------------------------*/
/*画像の縦横比*/
.contain {
    object-fit: contain;
    width: 190px;
    height: 190px;
    background: rgba(255,255,255,0)
}
/*--------------------------------------------------------*/
/*画像のドラッグ禁止*/
.drag-off{
    user-select:none;
    -webkit-user-select:none;
    -webkit-user-drag: none;
}
.size{
    font-size:130%;

}

/*検索フォームの外枠*/
.box{
    border: 2px solid #da4033;
    border-radius: 4px;
    margin: 2em 0;
    padding: 2em;
    position: relative;
}
.box::before {
    background-color: #fff;
    color: #da4033;
    content: "絞り込み検索";
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}
/*子供の検索*/
.form-w{
    width: 150px;

}
.center{
    text-align: center;
}
.float-r{
    float:right;
}
.float-l{
    float:left;
}
.margin-10{
    margin:10px;
}
.clear{
clear: both;
}

/* 自作チェックボックス */
.checkbox_input {
    /* 本来のチェックボックスが表示される要素　非表示にする */
    display: none;
}
.checkbox_parts_inside{
    transition: all 300ms 0s ease;
}
.checkbox_parts_inside::before{
    /* クリック前中丸 */
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 26px;
    width: 20px;
    height: 20px;
    border: 3px solid #009a9a;
    border-radius: 30px;
}
.checkbox_input:checked + .checkbox_parts_inside::before{
    /* クリック時に非表示にする */
    display: none;
}
.checkbox_input + .checkbox_parts_inside::after{
    /* クリック前は非表示 */
    display: none;
}
.checkbox_input:checked + .checkbox_parts_inside::after{
    /* クリック後表示 */
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 56px;
    width: 20px;
    height: 20px;
    border: 3px solid #009a9a;
    border-radius: 30px;
}
.checkbox_parts_outside{
    /* チェックボックスの横に表示する文字　spanタグで囲んでる */
    padding-left: 65px;
    position:relative;
    margin-right: 20px;
}
.checkbox_parts_outside::before{
    /* ラベルに対する擬似クラスを使う　checkedがついていない場合 */
    content: "";/* 対象に表示する文字列 */
    display: block;
    position: absolute;
    top: 0;/*上からの配置距離*/
    left: 10px;
    width: 50px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 25px;
}
.checkbox_input + .checkbox_parts_inside::before + .checkbox_parts_outside::after{
    /* ラベルに対する擬似クラスを使う　checkedがついていない場合 */
    display: none;
}
.checkbox_input:checked + .checkbox_parts_inside + .checkbox_parts_outside::after{
    /* ラベルに対する擬似クラスを使う　checkedがついていない場合 */
    content: "";/* 対象に表示する文字列 */
    display: block;
    position: absolute;
    top: 0;/*上からの配置距離*/
    left: 10px;
    width: 50px;
    height: 20px;
    border: 1px solid #009a9a;
    border-radius: 25px;
}
.checkbox_input:checked + .checkbox_parts_inside + .checkbox_parts_outside{
    /* 要素と要素が隣接している場合に、直後の要素に適応　この場合checkboxの後ろに付いてるspanタグに適応 */
    /* クリック時に文字色を変更する */
    color: #009a9a;
}
